come around and say you love me
hang your heart in lights above me
is that too much to ask for?
When the night descends upon us
take a shower dry your hair by the furnace
I'll watch you from the corner

Telephones and old typewriters
words of love along the wires
Let's make it work tonight
Telegraphs and birds that fly
through air so still you hear me sigh
Let's make it work tonight
Tonight, tonight

Then furious you threw the picture
eye cap in hand an awful mixture
That kind of hard love is the worst
I try to speak but you don't hear me
when you're gone you still feel near me for a while for a little while

I've tried Telephones and old typewriters words of love along the wires
But nothing is working tonight
I've tried telegraphs and birds that fly through air so still you hear me sigh
But nothing is working tonight
Tonight, please let's make it work tonight
Please let's make it work tonight, tonight
